*.jar
eula.txt
plugins/.paper-remapped/
plugins/MultiLogin/config.yml
plugins/MultiLogin/examples
plugins/MultiLogin/message.properties
plugins/MultiLogin/multilogin.mv.db
plugins/TabTPS/themes
plugins/bStats
.console_history
*.log
logs
banned-*.json
commands.yml
config
help.yml
ops.json
permissions.yml
usercache.json
version_history.json
whitelist.json
